body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a{
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);

          box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-header{
  position: relative;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.main-header-logo{
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.main-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  width: 88%;
  padding: 15px 0;
  
  margin: 0 auto;
  
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-navigation a{
  color: #000000;
}

.main-navigation a:nth-child(1){
  margin-right: 14%;
}

.main-navigation a:nth-child(3){
  margin-right: 15.7%;
}

.main-navigation a:nth-child(2){
  margin-right: auto;
}

.main-navigation a:hover,
.main-navigation a:focus{
  color: #81b3d2;
}

.main-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .site-navigation-active{
  color: #766357;
}

.intro{
  margin: 0;
  padding-top: 76px;
  padding-bottom: 77px;

  text-align: center;

  background-color: #79a7cb;
  background-image: url("../img/decorative/intro-polygon.svg"), url("../img/decorative/intro-background.jpg");
  background-position: 50% 100%, 0 30%;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 57px, 100%;
}

.reasons{
  margin: 0;

  color: #333333;

  background-color: #ffffff;
}

.reasons-intro{
  width: 490px;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 40px;

  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.reasons h2{
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.reason-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
 

  color: #ffffff;

  background-color: #81b3d2;
}

.reason-text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  margin-top: 46px;
  margin-bottom: 57px;

  width: calc(100% / 3);

  text-align: center;
}

.reason-text h3{
  width: 37.7%;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;
  font-weight: 700;
}

.reason-text span{
  margin-bottom: 23px;
}

.reason-text p{
  padding: 0;
  margin: 0;
  width: 80%;
}

.reason-photo{
  width: calc(100% - (100% / 3));

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.reason-item-1 .reason-photo{
  background-image: url("../img/decorative/photo-reason-1.jpg");
}

.reason-item-2 .reason-photo{ 
  background-image: url("../img/decorative/photo-reason-2.jpg");
}

.features{
  color: #333333;

  background-color: #ffffff;
}

.features-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}

.features-item{
  position: relative;
  
  width: 33%;
  padding: 0 4%;
  padding-top: 160px;
  padding-bottom: 85px;

  text-align: center;
}

.features-item h4{
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.features-item p{
  padding: 0;
  margin: 0;
}

.features-item::before{
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  width: 75px;
  height: 75px;
}

.features-item:first-child::before{
  background-image: url("../img/icons/features-icon-1.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features-item:nth-child(2)::before{
  background-image: url("../img/icons/features-icon-2.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features-item:last-child::before{
  top: 55px; 
  -webkit-transform: translateX(-45%); 
      -ms-transform: translateX(-45%); 
          transform: translateX(-45%);

  background-image: url("../img/icons/features-icon-3.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.block-reasons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 60px;

  color: #333333;

  background-color: #eeeeee;
}

.block-reasons-text{
  width: 33%;
  padding: 0 57px;

  text-align: center;
}

.block-reasons-text h3{
  width: 56%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 25px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.block-reasons-text span{
  display: block;
  margin-bottom: 23px;
}

.block-reasons-text p{
  padding: 0;
  margin: 0;
}

.hotels{
  margin: 0;
  padding: 0;
  padding-top: 50px;

  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.hotels span{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotels p{
  width: 450px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 45px;

  line-height: 24px;
}

.button{
  font: inherit;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.search-hotel-btn{
  padding: 30px 140px;
  
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search-hotel-btn:hover{
  color: #ffffff;

  background-color: #604e43;
}

.search-hotel-btn:focus,
.search-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-hotels{
  position: absolute;
  z-index: 10;
  left: 50%;
  overflow: hidden;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 568px;
  margin: 0 auto;
  margin-left: -284px;
  padding: 0;
  max-height: 0;

  font-weight: 700;
  color: #000000;

  background-color: #ffffff;

  transition: max-height 0.15s ease-out;
}

.modal-show{
  max-height: 800px;
  
  transition: max-height 0.25s ease-in;
}

.search-hotel-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 55px;
}

.modal-hotels input{
  font: inherit;
  line-height: 26px;

  background-color: #f2f2f2;
  border: solid 2px transparent;
}

.modal-hotels input:hover{
  background-color: #ebebeb;
}

.modal-hotels input:focus{
  background-color: transparent;
  border: solid 2px #e5e5e5;
}

.input-date{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.input-date:first-of-type label{
  margin-right: 22px;
}

.input-date:nth-of-type(2) label{
  margin-right: 18px;
}

.input-date input{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 343px;
  padding: 4px 15px;
  padding-right: 37px;
}

.btn-for-input{
  position: absolute;

  background-color: transparent;
}

.btn-for-input svg{
  fill: #a9a9a9;
}

.btn-for-input line{
  stroke: #a9a9a9;
}

.btn-for-input:hover svg,
.btn-for-input:focus svg{
  fill: #000000;
}

.btn-for-input:hover line,
.btn-for-input:focus line{
  stroke: #000000;
}

.btn-for-input:active svg{
  fill: #81b3d2;
}

.btn-for-input:active line{
  stroke: #81b3d2;
}

.input-date .btn-for-input{
  top: 7px;
  right: 5px;
}

.person-number{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-person-number{
  position: relative;
  margin-bottom: 52px;
}

.input-person-number input{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 115px;
  padding: 6px 45px;

  text-align: center;
}

.input-adults-number{
  margin-right: 50px;
}

.input-adults-number label{
  margin-right: 35px;
}

.input-adults-number .reduce-number-btn{
  top: 8px;
  left: 120px;
}

.input-adults-number .increase-number-btn{
  top: 8px;
  right: 10px;
}

.input-children-number label{
  margin-right: 23px;
}

.input-children-number .reduce-number-btn{
  top: 8px;
  left: 72px;
}

.input-children-number .increase-number-btn{
  top: 8px;
  right: 8px;
}

.person-number input::-webkit-inner-spin-button,
.person-number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.person-number input{
  -moz-appearance: textfield;
}

.modal-hotels .search-btn{
  padding: 16px 30px;
  font-size: 21px;
  line-height: 26px;
}

.modal-hotels .search-btn:hover,
.modal-hotels .search-btn:focus{
  color: #ffffff;

  background-color: #669ec0;
}

.modal-hotels .search-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.filters{
  margin: 0;
  padding-top: 28px;
  padding-bottom: 31px;

  color: #ffffff;

  background-color:#79a7cb;
  background-image: url("../img/decorative/filter-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 0 6%;
}

.filters fieldset{
  padding: 0;
  margin: 0;
  margin-right: 11%;

  border: none;
}

.filters legend{
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
}

.filters ul{
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option{
  margin-bottom: 23px;
  padding-left: 40px;
}

.filter-option:last-child{
  margin-bottom: 0;
}

.filter-option label{
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;

  width: 27px;
  height: 24px;

  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: -1px;

  width: 27px;
  height: 24px;

  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  width: 30%;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 34px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 20%;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.hotels-result{
  margin: 0;
  padding: 31px 6%;


  font-size: 12px;
  line-height: 18px;
  color: #000000;

  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort span{
  margin-right: 47px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-type{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}

.sort-type h2{
  padding: 0;
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
}

.sort-type a{
  margin-right: 30px;

  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus{
  color: #81b3d2;
}

.sort-type a:active{
  color: #000000;
  border: none;
}

.sort-type .sort-type-active{
  color: #81b3d2;
  border: none;
}

.sort-type-buttons{
  margin-left: auto;
  padding-top: 6px;
}

.sort-btn:first-child{
  margin-right: 10px;
}

.sort-btn svg{
  fill: #cacaca;
}

.sort-btn:hover svg,
.sort-btn:focus svg{
  fill: #000000;
}

.sort-btn:active svg{
  fill: #81b3d2;
}

.sort-descending svg{
  fill: #81b3d2;
}

.hotels-list{
  margin: 0;
  padding: 0;

  color: #333333;

  background-color: #ffffff;
}

.hotels-item{
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 24px;
  padding-bottom: 30px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  line-height: 0;

  border-bottom: 1px solid #e5e5e5;
}

.hotels-item img{
  padding: 0;
  margin: 0;
  margin-right: 30px;
  margin-top: 5px;
}

.hotel-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  line-height: 21px;
}

.hotel-name h3{
  padding: 0;
  margin: 0;
  margin-bottom: 9px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name:hover h3,
.hotel-name:focus h3{
  color: #81b3d2;
} 

.hotel-name:active h3{
  color: rgba(0, 0, 0, 0.3);
}

.short-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.short-info span{
  margin-bottom: 13px;
}

.about-hotel{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-right: 5px;
}

.about-hotel-btn{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 110px;
  padding: 3px 5px;
}

.about-hotel-btn:hover,
.about-hotel-btn:focus{
  background-color: #669ec0;
}

.about-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.booking-hotel{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking-hotel-btn{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 142px;
  padding: 3px 5px;

  background-color: #766357;
}

.booking-hotel-btn:hover,
.booking-hotel-btn:focus{
  background-color: #604e43;
}

.booking-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;

  margin-left: auto;

  line-height: 21px;
}

.stars{
  margin-top: 3px;
  height: 20px;

  background-image: url("../img/icons/star.svg");
  background-position: 0 0;
  background-repeat: space;
}

.hotels-item:first-of-type .stars{
  width: 89px;
}

.hotels-item:nth-of-type(2) .stars{
  width: 65px;
}

.hotels-item:last-of-type .stars{
  width: 40px;
}

.rating span{
  width: 85px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 13px;
  color: #666666;

  background-color: #f2f2f2;
}

.map{
  position: relative;
  margin: 0;
  margin-bottom: -125px;
  padding: 0;
  height: 600px;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.main-footer{
  position: relative;
  z-index: 3;

  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 40px;

  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer span{
  width: 400px;
  margin: 0;

  font-size: 21px;
  font-weight: 700;
}

.footer-social{
  width: 400px;
}

.footer-social ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  color: #000000;

  background-color: #81b3d2;
}

.social-btn::before{
  content: "";

  width: 20px;
  height: 22px;
  background-image: url("../img/icons/twitter-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

li:first-child .social-btn::before{
  background-image: url("../img/icons/twitter-icon.svg");
}

li:nth-child(2) .social-btn::before{
  background-image: url("../img/icons/fb-icon.svg");
}

li:last-child .social-btn::before{
  background-image: url("../img/icons/youtube-icon.svg");
}

.social-btn:hover,
.social-btn:focus{
  background-color: #669ec0;
}

.social-btn:active{
  background-color: #5496bd;
}

.social-btn:active::before{
  opacity: 0.3;
}

.footer-copyright{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0;
}

.footer-copyright span{
  width: auto;
  padding-right: 8px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.copyright-link{
  margin-top: 3px;
}

.copyright-link svg{
  fill: #231f20;
}

.copyright-link:hover svg,
.copyright-link:focus svg{
  fill: #81b3d2;
}

.copyright-link:active svg{
  fill: #bdbbbc;
}