body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a{
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active){
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-header{
  position: relative;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.main-header-logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main-navigation{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  width: 88%;
  padding: 15px 0;
  
  margin: 0 auto;
  
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-navigation a{
  color: #000000;
}

.main-navigation a:nth-child(2){
  margin-right: 20%;
}

.main-navigation a:hover,
.main-navigation a:focus{
  color: #81b3d2;
}

.main-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .site-navigation-active{
  color: #766357;
}

.intro{
  margin: 0;
  padding-top: 76px;
  padding-bottom: 77px;

  text-align: center;

  background-color: #79a7cb;
  background-image: url("../img/decorative/intro-polygon.svg"), url("../img/decorative/intro-background.jpg");
  background-position: 50% 100%, 0 30%;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 57px, 100%;
}

.reasons{
  margin: 0;

  color: #333333;

  background-color: #ffffff;
}

.reasons-intro{
  width: 490px;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 40px;

  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.reasons h2{
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.reason-item{
  display: flex;
  justify-content: space-between;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-text{
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: 46px;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;

  text-align: center;
}

.reason-text h3{
  width: 151px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;
  font-weight: 700;
}

.reason-text span{
  margin-bottom: 23px;
}

.reason-text p{
  padding: 0;
  margin: 0;
  width: 302px;
}

.reason-photo{
  width: 100%;
  height: auto;
}

.reason-item-1 .reason-photo{
  background-image: url("../img/decorative/photo-reason-1.jpg");
  background-repeat: no-repeat;
  background-size: 800px 401px;
  background-position: right center;
}

.reason-item-2 .reason-photo{ 
  background-image: url("../img/decorative/photo-reason-2.jpg");
  background-repeat: no-repeat;
  background-size: 800px 401px;
  background-position: left center;
}

.features{
  color: #333333;

  background-color: #ffffff;
}

.features-block{
  display: flex;  
}

.features-item{
  position: relative;
  
  width: 400px;
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 160px;
  padding-bottom: 85px;

  text-align: center;
}

.features-item h4{
  padding: 0;
  margin: 0;
  margin-bottom: 22px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.features-item p{
  padding: 0;
  margin: 0;
}

.features-item::before{
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  width: 75px;
  height: 75px;
}

.features-item:first-child::before{
  background-image: url("../img/icons/features-icon-1.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features-item:nth-child(2)::before{
  background-image: url("../img/icons/features-icon-2.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features-item:last-child::before{
  top: 55px; 
  transform: translateX(-45%);

  background-image: url("../img/icons/features-icon-3.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.block-reasons{
  display: flex;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 60px;

  color: #333333;

  background-color: #eeeeee;
}

.block-reasons-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 0 69px;

  text-align: center;
}

.block-reasons-text h3{
  width: 151px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.block-reasons-text span{
  margin-bottom: 23px;
}

.block-reasons-text p{
  padding: 0;
  margin: 0;
}

.hotels{
  margin: 0;
  padding: 0;
  padding-top: 52px;

  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.hotels span{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotels p{
  line-height: 24px;
}

.button{
  font: inherit;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;

  cursor: pointer;
}

.search-hotel-btn{
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search-hotel-btn:hover{
  color: #ffffff;

  background-color: #604e43;
}

.search-hotel-btn:focus,
.search-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-hotels{
  display: none;
  margin: 0;

  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.modal-hotels input{
  font: inherit;
  line-height: 26px;

  background-color: #f2f2f2;
  border: none;
}

.modal-hotels .btn-for-input{
  background-color: #f2f2f2;
}

.modal-hotels input:hover,
.modal-hotels .btn-for-input:hover{
  background-color: #ebebeb;
}

.modal-hotels input:focus,
.modal-hotels .btn-for-input:focus,
.modal-hotels .btn-for-input:active{
  background-color: transparent;
  border: solid 2px #e5e5e5;
}

.btn-for-input svg{
  fill: #a9a9a9;
}

.btn-for-input line{
  stroke: #a9a9a9;
}

.btn-for-input:hover svg,
.btn-for-input:focus svg{
  fill: #000000;
}

.btn-for-input:hover line,
.btn-for-input:focus line{
  stroke: #000000;
}

.btn-for-input:active svg{
  fill: #81b3d2;
}

.btn-for-input:active line{
  stroke: #81b3d2;
}

.modal-hotels .search-btn{
  font-size: 21px;
  line-height: 26px;
}

.modal-hotels .search-btn:hover,
.modal-hotels .search-btn:focus{
  color: #ffffff;

  background-color: #669ec0;
}

.modal-hotels .search-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.filters{
  margin: 0;
  padding-top: 28px;

  color: #ffffff;

  background-color:#79a7cb;
  background-image: url("../img/decorative/filter-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter{
  display: flex;
  justify-content: flex-start;
}

.filters fieldset{
  border: none;
}

.filters legend{
  font-size: 16px;
  font-weight: 700;
}

.filters ul{
  list-style: none;
}

.price-filter{
  margin-left: auto;
}

.price-filter input{
  color: #ffffff;

  background-color: transparent;
  border: solid 2px #ffffff;
}

.filter-btn{
  font-weight: 400;

  background-color: transparent;
  border: solid 2px #ffffff;
}

.hotels-result{
  margin: 0;
  padding-top: 30px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;

  background-color: #fefefe;

  display: flex;
}

.sort span{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-type h2{
  font-size: 12px;
  line-height: 18px;
}

.sort-type a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus{
  color: #81b3d2;
}

.sort-type a:active{
  color: #000000;
  border: none;
}

.sort-type .sort-type-active{
  color: #81b3d2;
  border: none;
}

.sort-type-buttons{
  margin-left: auto;
}

.sort-btn svg{
  fill: #cacaca;
}

.sort-btn:hover svg,
.sort-btn:focus svg{
  fill: #000000;
}

.sort-btn:active svg{
  fill: #81b3d2;
}

.sort-descending svg{
  fill: #81b3d2;
}

.hotels-info{
  margin: 0;
  padding: 0;

  color: #333333;

  background-color: #ffffff;
}

.hotels-item{
  padding: 30px 73px;

  display: flex;
}

.hotel-name h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name:hover h3,
.hotel-name:focus h3{
  color: #81b3d2;
} 

.hotel-name:active h3{
  color: rgba(0, 0, 0, 0.3);
}

.about-hotel-btn:hover,
.about-hotel-btn:focus{
  background-color: #669ec0;
}

.about-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.booking-hotel-btn{
  background-color: #766357;
}

.booking-hotel-btn:hover,
.booking-hotel-btn:focus{
  background-color: #604e43;
}

.booking-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating{
  margin-left: auto;
}

.rating span{
  color: #666666;

  background-color: #f2f2f2;
}

.map{
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-footer{
  margin: 0;
  padding-top: 36px;

  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  align-items: center;
}

.main-footer span{
  width: 400px;
  margin: 0;

  font-size: 21px;
  font-weight: 700;
}

.footer-social{
  width: 400px;
}

.footer-social ul{
  list-style: none;
}

.social-button{
  color: #000000;
}

.footer-copyright{
  width: 400px;
  margin: 0;
}

.copyright-link svg{
  fill: #231f20;
}

.copyright-link:hover svg,
.copyright-link:focus svg{
  fill: #81b3d2;
}

.copyright-link:active svg{
  fill: #bdbbbc;
}