body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a{
  text-decoration: none;
}

.main-navigation{
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.main-navigation a{
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus{
  color: #81b3d2;
}

.main-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .site-navigation-active{
  color: #766357;
}

.intro{
  text-align: center;

  background-color: #79a7cb;
  background-image: url("../img/decorative/intro-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.reasons{
  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.reasons h2{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.reason-item{
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-item h3{
  font-size: 21px;
  font-weight: 700;
}

.features{
  color: #333333;

  background-color: #ffffff;
}

.features h4{
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.block-reasons{
  color: #333333;

  background-color: #eeeeee;
}

.block-reasons h3{
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.hotels{
  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.hotels span{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotels p{
  line-height: 24px;
}

.button{
  font: inherit;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.search-hotel-btn{
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search-hotel-btn:hover{
  color: #ffffff;

  background-color: #604e43;
}

.search-hotel-btn:focus,
.search-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-hotels{
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.modal-hotels input{
  font: inherit;
  line-height: 26px;

  background-color: #f2f2f2;
  border: none;
}

.modal-hotels .btn-for-input{
  background-color: #f2f2f2;
}

.modal-hotels input:hover,
.modal-hotels .btn-for-input:hover{
  background-color: #ebebeb;
}

.modal-hotels input:focus,
.modal-hotels .btn-for-input:focus,
.modal-hotels .btn-for-input:active{
  background-color: transparent;
  border: solid 2px #e5e5e5;
}

.btn-for-input svg{
  fill: #a9a9a9;
}

.btn-for-input svg line{
  stroke: #a9a9a9;
}

.btn-for-input:hover svg,
.btn-for-input:focus svg{
  fill: #000000;
}

.btn-for-input:hover svg line,
.btn-for-input:focus svg line{
  stroke: #000000;
}

.btn-for-input:active svg{
  fill: #81b3d2;
}

.btn-for-input:active svg line{
  stroke: #81b3d2;
}

.modal-hotels .search-btn{
  font-size: 21px;
  line-height: 26px;
}

.modal-hotels .search-btn:hover,
.modal-hotels .search-btn:focus{
  color: #ffffff;

  background-color: #669ec0;
}

.modal-hotels .search-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.filters{
  color: #ffffff;

  background-color:#79a7cb;
  background-image: url("../img/decorative/filter-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters fieldset{
  border: none;
}

.filters legend{
  font-size: 16px;
  font-weight: 700;
}

.filters ul{
  list-style: none;
}

.price-filter input{
  color: #ffffff;

  background-color: transparent;
  border: solid 2px #ffffff;
}

.filter-btn{
  font-weight: 400;

  background-color: transparent;
  border: solid 2px #ffffff;
}

.hotels-result{
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  background-color: #fefefe;
}

.sort span{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-type h2{
  font-size: 12px;
  line-height: 18px;
}

.sort-type a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus{
  color: #81b3d2;
}

.sort-type a:active{
  color: #000000;
  border: none;
}

.sort-type .sort-type-active{
  color: #81b3d2;
  border: none;
}

.sort-type-buttons svg{
  fill: #cacaca;
}

.sort-type-buttons a:hover svg,
.sort-type-buttons a:focus svg{
  fill: #000000;
}

.sort-type-buttons a:active svg{
  fill: #81b3d2;
}

.sort-descending svg{
  fill: #81b3d2;
}

.hotels-info{
  color: #333333;

  background-color: #ffffff;
}

.hotel-name h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name:hover h3,
.hotel-name:focus h3{
  color: #81b3d2;
} 

.hotel-name:active h3{
  color: rgba(0, 0, 0, 0.3);
}

.about-hotel-btn:hover,
.about-hotel-btn:focus{
  background-color: #669ec0;
}

.about-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.booking-hotel-btn{
  background-color: #766357;
}

.booking-hotel-btn:hover,
.booking-hotel-btn:focus{
  background-color: #604e43;
}

.booking-hotel-btn:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.rating span{
  color: #666666;

  background-color: #f2f2f2;
}

.main-footer{
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer span{
  font-size: 21px;
  font-weight: 700;
}

.footer-social ul{
  list-style: none;
}

.social-button{
  color: #000000;
}

.footer-copyright svg{
  fill: #231f20;
}

.footer-copyright a:hover svg,
.footer-copyright a:focus svg{
  fill: #81b3d2;
}

.footer-copyright a:active svg{
  fill: #bdbbbc;
}